@import "../../utils/utils";

.login-page {
    min-height: 100vh;
    @include flex(center,center, column);
    padding: 0 30px;
    background-color: #fafafa;
    
    .form-container {
        border: 1px solid #dbdbdb;
        padding: 16px 30px;
        background-color: #fff;
        width: 350px;

        .ant-form-item {
            margin-bottom: 10px;
        }
        h4 {
            text-align: center;
            margin-inline: auto;
            margin-top: 10px;
        }
        .forgot-password-link {
            margin-block: 4px;
            text-align: center;
        }
    }  
    .signup-link {
        margin-inline: auto;
        margin-top: 20px;
        border: 1px solid #dbdbdb;
        padding: 20px 30px;
        background-color: #fff;
        width: 350px;
        text-align: center;
    }
}