@import '../../utils/utils';

.post-card {
    border: 1px solid rgb(187, 187, 187);
    overflow: hidden;
    @media screen and (max-width: 500px) {
        width: 100%;
        border: 0;
        border-bottom: 1px solid rgb(187, 187, 187);
    }
        
    .creator {
        margin-block: 10px;
        @include flex(space-between, center);
        .anticon-more {
            transform: rotate(90deg);
            font-size: 1.3em;
            margin-inline: 20px;
        }
        span {
            margin-inline: 8px;
        }
    }
    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .post-info {
        padding-inline: 14px;
        span.creator {
            font-weight: bold;
        }
        .tag{
            background-color: rgb(212, 212, 212);
            border-radius: 8px;
        }
    }
}