@import "../../utils/utils";

.login-page {
    width: 100%;
    min-height: 100vh;
    @include flex(center,center, column);

    .form-container {
        border: 1px solid #ddd;
        padding: 16px 30px;
        width: 100%;

        .ant-form-item {
            margin-bottom: 10px;
        }
        h4 {
            text-align: center;
        }
    }  
    .signup-link {
        margin-inline:  auto;
        margin-top: 20px;
        border: 1px solid #ddd;
        padding: 20px 30px;
        width: 100%;
        text-align: center;
    }
}