.loading-page {
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.post-image {
    cursor: pointer;
    opacity: 0.9;
    transition: 0.2s ease-in-out;

    &:hover {
        opacity: 1;
    }
}