@import '../../utils/utils';

.forgot-password-page {
    min-height: 100vh;
    width: 100%;
    @include flex(center,center, column);

    .steps {
        width: 90%;
        margin-top: 40px;
    }
    .step-content {
        width: 90%;
        @include flex(center,center, column);   
        margin-top: 10px;
        border: 1px solid #e6e6e6;
        height: 50vh;

    }
}