@import '../../utils/utils';

.post-card {
    overflow: hidden;
    width: 100%;
    border: 0;
    
    .ant-card-body {    
        padding: 0;
        margin: 0;
    }

    .creator {
        margin-block: 10px;
        margin-inline: 6px;
        @include flex(space-between);
        .ant-card-meta {
            @include flex(space-between);
        }
        .anticon-more {
            transform: rotate(90deg);
            font-size: 1.3em;
        }
    }

    img {
        height: 200px;
        object-fit: cover;
    }
    .post-info {
        padding-inline: 14px;
        .title {
            font-size: 1.2em;
            font-weight: bold;
        }
        .description-container {
            flex: 1;
            max-height: 110px;
            overflow: hidden;   
            margin-bottom: 10px;
            span {
                display: inline;
            }
            .creator {
                font-weight: bold;
            }
            .description {
                max-height: 40px;
                text-overflow: ellipsis;
               .more-button {
                   padding: 0 4px;
                   span {
                       color: #666;
                   }
               } 
            }
        }
        .comment-input {
            @include flex(flex-start);
            border: 0;
            width: 100%;
            margin-bottom: 5px;
        }
        .tag{
            background-color: rgb(212, 212, 212);
            border-radius: 8px;
            margin-block: 4px;
        }
        .card-operations {
            @include flex(space-between, flex-start);
            margin-top: 4px ;
            .like-button, .archive-button, .comment-button {
                cursor: pointer;
                border: 0;
                padding: 0;
                &:hover, &:focus, &:active {
                    color: unset;
                }
            }
            .archive-button, .comment-button {
                margin-inline-start: 4px;
                span {
                    font-size: 1.2em;
                }
            }
            .like-button {
                margin-inline-start: -10px;
            }
            .archive-button {
                margin-inline-end: -10px;
            }
        }
        .date {
            font-size: 0.6em;
            margin-inline-end: 8px;
        }
    }
}

.post-image {
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}

.post-card-modal { 
    
    .ant-image   {
        object-fit: contain;
    }
    

    .post-info {
        height: 100%;
        width: 100%;
        padding: 5px 10px;
        .ant-card {
            border: 0;
        }
    }
    
    .ant-modal-body {
        padding: 0;
        @include flex(center, flex-start);
    }
}