@import '../../utils/utils';

.header {
    padding: 4px 20px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid rgba(145,158,172, 0.5);
    
    .header-menu {
        @include flex(center, baseline);
        .header-menu-item {
            color: #000;
            font-size: 1.4em;
            background: transparent;
            border: none;
            @include flex(space-between);
            padding: 0;
        }
    }

    .search-input {
        max-width: 300px;
        border: 0;
        border-radius: 8px;
        background-color: #efefef;
        @media screen and (max-width: 610px) {
            display: none;
        }   
        input {
            background-color: #efefef;
            &::placeholder {
                color: #a3a0a4;
                font-size: 1.1em;
            }
        }
    }
    .logo-container {
        width: 100%;
        margin: 0;
        padding: 0;
        height: 50px;
        justify-content: flex-start;
        .logo-info {
            border-bottom: 1px solid $orange-peel;
            h3 {
                font-size: 0.9em;
            }
            h5 {
                font-size: 0.5em;
            }
        }
        svg {
            width: 12px;
            margin-inline-end: 6px;
        }
    }
}