@import '../../utils/utils';

.new-user-path {
    width: 100%;
    height: 100vh;
    @include flex(center,center, column);
    padding: 50px;

    section {
        width: 100%;
        height: 100%;
        @include flex(center,center, column);

        .upload-profile {
            @include flex(center,center, column);
            .avatar {
                height: 100px;
                width: 100px;
            }
            .upload-button {
                margin-block: 20px;
            }
        }
    }
}