@import '../../utils/utils';

.posts-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 20px;
    margin: 20px;
    flex-wrap: wrap;

    @media screen and (max-width: 500px) {
        margin-inline:0;
        display: initial;
    }
    .ant-image   {
        object-fit: contain;
    }

    .post-image {
        cursor: pointer;

        &:hover {
            opacity: 0.9;
        }
    }
}   
