@import '../../utils/utils';

.posts-wrapper__full {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 20px;
    margin-top: 20px;
    justify-content: center;

    @media screen and (max-width: 500px) {
        margin-inline: 0;
        display: initial;
    }
}

.posts-wrapper__empty {
    @extend .posts-wrapper__full;
    display: unset;

    .ant-empty {
        margin-top: 50px;
    }
}