.posts-wrapper-desktop {
    display: flex;
    margin: 20px;
    flex-wrap: wrap;

    @media screen and (max-width: 500px) {
        margin-inline:0;
        display: initial;
    }
    .ant-image   {
        object-fit: contain;
        margin: 10px;
    }
}