.comments-modal {
    .ant-modal-header {
        padding: 10px;
    }

    .ant-modal-body {
        padding-top: 0;

        .comments {
            max-height: 60vh;
            overflow: auto;
        }

        .comment-input {
            width: 100%;
            display: flex;
            margin: 0;

            .ant-form-item {
                flex: 1;
            }
        }
    }
}