.comments-modal {
    .ant-modal-header {
        padding: 10px;
    }

    .ant-modal-body {
        padding-block: 0;

        .comments {
            min-height: 20px;
            max-height: 60vh;
            overflow: auto;
        }

        .comment-input {
            width: 100%;
            display: flex;
            line-height: 0 !important;

            .ant-form-item {
                flex: 1;
            }
        }
    }
}