@import '../../utils/utils';

.post-card-meta {
    margin: 10px 6px;
    @include flex(space-between);

    .ant-card-meta {
        @include flex(space-between);
    }

    .anticon-more {
        transform: rotate(90deg);
        font-size: 1.3em;
    }
}

.post-card-options {
    @include flex(space-between);

    .like-button,
    .archive-button,
    .comment-button,
    .likes-number-button {
        border: 0;
        padding: 0;

        &:hover,
        &:focus,
        &:active {
            color: unset;
        }
    }
}

.post-card-content {
    padding-inline: 14px;

    .comment-input {
        @include flex(flex-start);
        border: 0;
        width: 100%;
        margin-bottom: 5px;
    }


    .scroll-part {
        max-height: 132px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 2px;
        }

        .title {
            font-size: 1.2em;
            font-weight: bold;
        }

        .creator {
            display: inline;
            font-weight: bold;
            margin-inline-end: 6px;
        }

        .tag {
            background-color: rgb(212, 212, 212);
            border-radius: 8px;
            margin-block: 4px;
            user-select: none;
        }
    }

    .date {
        font-size: 0.6em;
        margin-inline-end: 8px;

        svg {
            margin-inline-start: 4px;
        }
    }
}