@import "../../utils/utils";

.signup-page {
    min-height: 100vh;
    padding: 0 30px;
    @include flex(center,center, column);
    background-color: #fafafa;
    margin-block: 22px;

    .form-container {
        border: 1px solid #dbdbdb;
        padding: 16px 30px;
        width: 350px;
        background-color: #fff;

        .description {
            color: #998e8e;
            font-weight: bold;
            width: 80%;
            margin: 12px auto;
            font-size: 1.3em;
            line-height: 130%;
        }

        .ant-form-item {
            margin-bottom: 10px;
        }
        h4, a {
            text-align: center;
            margin-top: 10px;
            color: #919eac;
        }
        a {
            font-weight: bold;
        }
    }
    .signin-link {
        margin-inline:  auto;
        margin-top: 20px;
        border: 1px solid #dbdbdb;
        padding: 20px 30px;
        width: 350px;
        text-align: center;
        background-color: #fff;
    }
}