@import "../../utils/utils";

.signup-page {
    width: 100%;
    min-height: 100vh;
    padding: 0 30px;
    @include flex(center,center, column);
    background: linear-gradient(135deg, #241024 25%, transparent 25%) -43px 0/ 86px 86px, linear-gradient(225deg, rgba(36,16,36,0.5) 25%, transparent 25%) -43px 0/ 86px 86px, linear-gradient(315deg, #241024 25%, transparent 25%) 0 0/ 86px 86px, linear-gradient(45deg, rgba(36,16,36,0.5) 25%, #e4edf3 25%) 0 0/ 86px 86px;
    background-color: #e4edf3;

    .form-container {
        width: 100%;
        border: 1px solid #ddd;
        padding: 16px 30px;
        max-width: 350px;
        background-color: #fff;

        .ant-form-item {
            margin-bottom: 10px;
        }
        h4, a {
            text-align: center;
            margin-top: 10px;
        }
    }
    .signin-link {
        margin-inline:  auto;
        margin-top: 20px;
        border: 1px solid #ddd;
        padding: 20px 30px;
        width: 100%;
        text-align: center;
        background-color: #fff;
    }
}